[data-ng-cloak] {
    display: none;
}
.tictactoe {
    padding: 5vmin;
}
.tictactoe-gameboard-row {
    display: flex;
    justify-content: center;
}
.tictactoe-gameboard-cell {
    box-sizing: border-box;
    border-style: solid;
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tictactoe-gameboard-cell > span {
    font-size: 5em;
    font-size: 20vmin;
    height: 23vmin;
}
